* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

body {
  background-color: #30427d;
}

/*===== GRID Design =====*/
.item0 {
  grid-area: header;
}
.item1 {
  grid-area: main;
}
.item2 {
  grid-area: img;
}
.item3 {
  grid-area: calc;
  align-self: center;
}
.item4 {
  grid-area: footer;
}

.container {
  display: grid;
  grid-template-areas:
    "header header header"
    ". . ."
    ". img ."
    ". main ."
    ". calc ."
    ". . ."
    "footer footer footer";
  grid-template-columns: 6% auto 6%;
  grid-template-rows: auto 10% auto 60% 25% 10% auto;
}

/*===== Form Section =====*/
.form {
  height: 100%;
  background: #6a3093; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    220deg,
    #6d54da,
    #6045d6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    110deg,
    #6d54da,
    #6045d6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 100%;
}

.form-g {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: space-between;
  font-size: 3.8vw;
  font-weight: 600;
  color: #ebeff0;
  width: 60%;
}

#alert {
  display: none;
  margin: -6%;
  font-size: 3.5vw;
  color: rgb(243, 115, 101)
}

/*===== Buttons =====*/
.btns {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

#submit-btn,
#clear-btn {
  font-size: 2.8vw;
  color: #ebeff0 !important;
  text-transform: uppercase;
  background: #c73d5b;
  padding: 3.5%;
  border-radius: 5%;
  border: none;
  transition: all 0.4s ease 0s;
}
#submit-btn:hover,
#clear-btn:hover {
  background: #c01c40;
}

.hide {
  display: hidden;
  opacity: 0;
}

.show {
  display: block;
}

/*===== Input Design =====*/
input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgb(230, 225, 225);
  width: 100%;
  font-size: 4.2vw;
  font-weight: 500;
  margin-top: 3%;
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input:focus {
  background-color: #ceac98;
  transition: all 0.15s ease-in-out 0s;
  outline: 0;
}

/*===== IMG Container =====*/
.img-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #f5f2f0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px -5px 15px;
  border-radius: 3% 3% 0 0;
}

.img-title {
  display: inline-block;
  margin-top: 3%;
  color: #6d54da;
  text-align: center;
  font-size: 7.5vw;
  margin-bottom: -7%;
  text-shadow: 0px 0px 1px rgba(155, 102, 253, 0.8);
}

img {
  display: block;
  width: 100%;
}

/*===== Results =====*/
.results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 4vw;
  height: 100%;
  background-color: #f5f2f0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 0 0 3% 3%;
  text-align: center;
}
.results div p {
  font-weight: 600;
}


/*===== Header Styles =====*/

.mainHeader {
  background-color: #f5f2f0;
  height: 80px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mainTitle {
  font-weight: 300;
  opacity: 0;
  color: #535353;
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}

@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

/*===== Tablets Portrait =====*/
@media only screen and (min-width: 600px) and (orientation: portrait) {

  .mainHeader {
    font-size: 3.3vw;
    height: 14vw;
  }

  .container {
    display: grid;
    grid-template-areas:
      "header header header header"
      ". . . ."
      ". img img ."
      ". main calc ."
      ". . . ."
      "footer footer footer footer";
    grid-template-columns: auto 61% 23% auto;
    grid-template-rows: auto 5% auto 60% 5% 2.5%;
  }

  .img-container {
    border-radius: 15px 15px 0 0;
    box-shadow: 12px 8px 0px 2px #0000004d;
    border-bottom: 10px double #b580fa;
    /*border-left: 10px double #fac980c5;*/
  }

  .form {
    border-radius: 0 0 0 15px;
    box-shadow: 8px 12px 0px 2px #0000004d;
    z-index: 2;
  }
  .form-g {
    font-size: 3.5vw;
  }
  input {
    font-size: 4vw;
  }
  #alert {
    margin: -6%;
    font-size: 3vw;
    color: rgb(243, 115, 101)
  }

  #submit-btn,
  #clear-btn {
    font-size: 2.8vw;
    width: 30%;
  }
  .results {
    border-radius: 0 0 15px 0;
    font-size: 3.5vw;
    text-align: center;
    border-left: 10px double #b580fa;
    box-shadow: 12px 12px 0px 2px #0000004d;
    z-index: 3;
  }
}

/*===== Laptops, Desktops, Tablets Landscape =====*/
@media only screen and (min-width: 1024px) and (orientation: landscape){
  
  .mainHeader {
    font-size: 1.8vw;
    height: 100%;
    max-height: 8vw;
  }

  .container {
    display: grid;
    grid-template-areas:
      "header header header header"
      ". . . ."
      ". main img ."
      ". main calc ."
      ". . . ."
      "footer footer footer footer";
    grid-template-columns: auto 24% 24% auto;
    grid-template-rows: 8% auto 38% 20% auto 2%;
    height: 100vh;
  }

  .img-container {
    justify-content: space-evenly;
    border-radius: 0 15px 0 0;
    box-shadow: 12px 8px 0px 2px #0000004d;
    border-bottom: 0.5vw solid #b580fa;
    /*border-left: 10px double #fac980c5;*/
  }
  .img-title {
    font-size: 1.9vw;
    width: 95%;
    margin-top: 25px;
  }

  .form {
    border-radius: 15px 0 0 15px;
    box-shadow: 8px 12px 0px 2px #0000004d;
  }
  .form-g {
    font-size: 1.3vw;
  }
  input {
    font-size: 1.7vw;
  }
  #alert {
    margin: -8%;
    font-size: 1.2vw;
    color: rgb(243, 115, 101)
  }

  #submit-btn,
  #clear-btn {
    font-size: 1.2vw;
    width: 25%;
  }

  .results {
    border-radius: 0 0 15px 0;
    font-size: 1.2vw;
    text-align: center;
    box-shadow: 12px 12px 0px 2px #0000004d;
    z-index: 3;
  }
}


